# SPDX-FileCopyrightText: 2025 Anil Belur <askb23@gmail.com>
# SPDX-License-Identifier: Apache-2.0

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{ts,tsx,js,jsx,mjs,css}]
indent_size = 2

[*.json]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.{yaml,yml}]
indent_size = 2
max_line_length = 120

[*.sh]
indent_size = 4
max_line_length = 80

[Makefile]
indent_style = tab
