---
# SPDX-FileCopyrightText: 2025 Anil Belur <askb23@gmail.com>
# SPDX-License-Identifier: Apache-2.0

extends: default

ignore:
  - ".github/workflows/*.lock.yml"

rules:
  document-start: disable
  empty-lines:
    max-end: 1
  comments:
    min-spaces-from-content: 1
    level: error
  line-length:
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  truthy:
    allowed-values: ["true", "false", "on"]
